@font-face {
  font-family: "trebuc";
  src: url("./fonts/trebuc") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "trebuc", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.3s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}
html ::-webkit-scrollbar {
  width: 1rem;
}
html ::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}
html ::-webkit-scrollbar-thumb {
  background-color: #7B7070;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  z-index: 1000;
  background-color: #FFFFFF;
  height: 128px;
  text-align: center;
}
header img {
  width: 195px;
  height: 79px;
}
@media (max-width: 425px) {
  header img {
    width: 143px;
    height: 58px;
  }
}
header .search-icon {
  position: relative;
  font-size: 15px;
  top: -30px;
  left: 300px;
}
@media (max-width: 425px) {
  header .search-icon {
    font-size: 15px;
    top: -20px;
    left: 70px;
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #389CD6;
  height: 48px;
  color: #FFFFFF;
  gap: 10rem;
  font-size: 16px;
}
@media (max-width: 425px) {
  header nav {
    display: none;
  }
}
header nav a {
  color: #FFFFFF;
  text-decoration: none;
}
header nav a:hover {
  color: #7B7070;
}
header .icon {
  right: 160px;
  bottom: 40px;
  position: relative;
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #7B7070;
}
header .icon:hover {
  color: #389CD6;
}
@media (max-width: 425px) {
  header .navbar {
    position: fixed;
    top: 65px;
    left: -110%;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    background-color: #389CD6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .navbar.active {
    left: 0;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  }
  header .navbar a {
    margin: 1rem;
  }
}
header #menu-btn {
  display: none;
}
@media (max-width: 425px) {
  header #menu-btn {
    display: inline-block;
  }
}

.secondmain {
  margin-top: 100px;
}
.secondmain-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.secondmain-text {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
}
.secondmain-text-title {
  font-size: 39px;
  font-weight: 500;
  color: #389CD6;
  padding: 50px;
}
.secondmain-text-content {
  font-size: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 400px;
  margin-right: 400px;
}
.secondmain-icons {
  width: 1132px;
  height: 259px;
  margin-left: 100px;
}
.secondmain-icons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.firstmain {
  margin-top: 100px;
}
.firstmain-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.firstmain-text {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
}
.firstmain-text-title {
  font-size: 39px;
  font-weight: 500;
  color: #389CD6;
  padding: 50px;
}
.firstmain-text-content {
  font-size: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 400px;
  margin-right: 400px;
}
.firstmain-icons {
  width: 1132px;
  height: 259px;
  margin-left: 100px;
}
.firstmain-icons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
